.containers {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-header {
    margin-bottom: 50px;
    text-align: center;
  }

  .rows {
    display: flex;
    flwx-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact-info {
    width: 50%;
  }
  
  .contact-info-item {
    display: flex;
    margin-bottom: 30px;
  }
  
  .contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #d61717;
    text-align: center;
    border-radius: 50%;
  }
  
  .contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
  }
  
  .contact-info-content {
    margin-left: 20px;
  }
  
  .contact-info-content h4 {
    color: #0b0c0c;
    font-size: 1.4em;
    margin-bottom: 5px;
  }
  
  .contact-info-content p {
    color: #4c1df7;
    font-size: 1em;
  }
  

  .contact-form {
    background-color: #ecf5f5;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  
  .contact-form .input-box input,
  .contact-form .input-box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  
  .contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  
  .contact-form .input-box input:focus ~ span,
  .contact-form .input-box textarea:focus ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  
  .contact-form .input-box input[type="submit"] {
    width: 100%;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #00bcd4;
    transition: 0.5s;
  }
  
  .contact-form .input-box input[type="submit"]:hover {
    background: #fff;
    color: #00bcd4;
  }


  
  
  /* Styling for social media icons */
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .section.follow {
    text-align: center;
  }
  .section.follow h1 {
    margin-bottom: 20px; /* Add some space below the heading */
  }
  
  .social-icons a {
    color: #161313;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #ff6600; /* Change to the desired hover color */
  }
  .section.follow p {
    text-align: center;
  }

  @media (max-width: 991px) {
    section {
      padding-top: 30px;
      padding-bottom: 50px;
    }
  
    .row {
      flex-direction: column;
    }
  
    .contact-info {
      margin-bottom: 40px;
      width: 100%;
    }
  
    .contact-form {
      width: 100%;
    }
  }

  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  
  .icons a {
    text-decoration: none;
  }